<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="leadify-logo-nav" src="assets/img/leadify-logo-nav.svg" alt="">
      <button
        class="btn btn-success btn-navbar"
        ng-click="newLead()">
          Nuevo lead
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="main.app">Descubre</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="main.app.leads">Mis Leads</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="main.app.notifications">Notificaciones</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="main.app.reports">Reportes</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
