<div class="lead-list">
  <div class="media" ng-repeat="lead in leads track by $index" ng-click="presentLeadDetail(lead)">
    <div class="media-left">
      <img ng-if="lead.is_premium" class="star" src="assets/img/star.svg">
      <img class="media-object" src="assets/img/user-thumbnail.svg">
    </div>
    <div class="media-body">
      <span class="lead-time pull-right text-primary">{{lead.days_pass}} días</span>
      <h4 class="media-heading">{{lead.name}}</h4>
      {{lead.role}}
      <span class="label label-info pull-right">Gestionando</span>
    </div>
  </div>
</div>
