<div class="modal-header">
  <h4 class="modal-title">
    <span>Nuevo lead</span>
  </h4>
</div>
<div ng-show="leadData.position" id="map"></div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Nombre</label>
        <input
          type="text"
          class="form-control"
          ng-model="leadData.nombre">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          ng-model="leadData.email">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Teléfono</label>
        <input
          type="text"
          class="form-control"
          ng-model="leadData.telefono">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Dirección</label>
        <input
          type="text"
          class="form-control"
          ng-model="leadData.direccion">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Cargo</label>
        <input
          type="text"
          class="form-control"
          ng-model="leadData.cargo">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label>Empresa</label>
        <select
          class="form-control"
          ng-options="src as src.nombre for src in options.empresas track by src.id"
          ng-model="leadData.empresa">
          <option selected disabled value="">Selecciona</option>
        </select>
      </div>
      <div class="form-group">
        <label>Oportunidad</label>
        <input
          type="text"
          class="form-control"
          placeholder="¿Qué se podría vender a este prospecto?"
          ng-model="leadData.comentarios">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="newLeadModal.close()">Cerrar</button>
  <button class="btn btn-primary" ng-click="postNewLead()">Publicar</button>
</div>
